<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/cooperrholmes">Cooper Holmes</a>. Cooper is a web developer based out of Northern Colorado.
  </p>
  <br />
  <p>
    Cooper's background includes knowledge of languages such as C++, Python, Ruby, HTML + CSS. A life long lover of all things tech, Cooper plans to have a long and fruitful career as a full stack web developer.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

 <div class="row">
    <div class="col-12 col-sm-4">
     <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Cooper Holmes</h2>
      <br />
      <p>
        Cooper lived in Upstate NY for 20 years before deciding to relocate to Northern Colorado. He has a passion for technology, learning, games, and eSports. 
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
