@font-face {
    font-family: 'rubikregular';
    src: url('rubik-regular-webfont.eot') format('embedded-opentype'),
         url('rubik-regular-webfont.eot?#iefix') format('woff');
    font-weight: normal;
    font-style: normal;

}